body{
    position: relative;
    /* background-color: blueviolet; */
}


#home img{
    border-radius: 7px;
    margin-left:70px;
    margin-top: 70px;
}
#home{
    margin-top: 70px;
    margin-bottom: 50px;
    /* background-color:white; */
}

.carousel-caption{
    position: absolute;
    right: 0;
    width: 50%;
    top: 2%;
    margin-left: 25%;
    text-align: right;
    color: black;
}
.carousel-caption h3{
    font-size: 5em;
    color:#218838;
}

.carousel-indicators li{
    background-color: rgb(33, 136, 56);
    
}
.carousel-control-prev-icon{
    background-color: rgb(33, 136, 56);
}
.carousel-control-next-icon{
    background-color: rgb(33, 136, 56);
}

.carousel-item a{
    color: rgb(33, 136, 56);
    border-color: rgb(33, 136, 56);
    border-radius: 30px;
    background-color: transparent;
    background-image: none;
}

.menuHeader h3{
        font-size: 3em;
        color: rgb(33, 136, 56);
}
.newMenu{
    margin-left: 70px;
    /* align-items: center;
    align-content: center; */
}
.menuImg{
    margin: 10px;
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 9px;
}
.menuImg img{
    width: 100%;
    height: 100%;
}
.menuImg:hover{
    border: 1px solid rgb(33, 136, 56);
}






.menuButtons{
    position: relative;
    right: 0;
    width: 50%;
    top: 2%;
    margin-left: 25%;
    text-align: right;
}
.menu{
    align-content: center;
    text-align: center;
    /* padding-top: 45px; */
    /* width: 95%; */
}
#menu{
    padding-top: 50px;
}
#menu h3{
    font-size: 3em;
    color: rgb(33, 136, 56);
}
.menuContainer button{
    color: rgb(33, 136, 56);
    border-color: rgb(33, 136, 56);
    border-radius: 30px;
    background-color: transparent;
    background-image: none;
}

#hideFirst{
    
    color:rgb(33, 136, 56);
}
#hideFirst h3{
    color:rgb(33, 136, 56);
    font-weight: bold;
    font-size: 15em;
    position: absolute;
    right: 25%;
    text-align: center;
}
#hideFirst img{
    position: relative;
    left: 40%;
    z-index: -1;
    /* width: 20%; */
    /* width:260px;
    height: 345px; */
    /* top: 30%; */
    /* margin-left: 25%; */
}
#para{
    font-size: 3em;
    padding-bottom: 10px;
    color:rgb(33, 136, 56);
    text-align: center;
}

#hideThird h3{
    color:rgb(33, 136, 56);
    font-weight: bold;
    font-size: 15em;
}

.detox button{
    color: rgb(33, 136, 56);
    border-color: rgb(33, 136, 56);
    border-radius: 30px;
    background-color: transparent;
    background-image: none;
}
#detox h3{
    font-size: 3em;
    color:rgb(33, 136, 56);
}
h5{
    color:  rgb(33, 136, 56);
}
h4{
    color:  rgb(33, 136, 56);
}
