body{
    position: relative;
    /* background-color: blueviolet; */
}

.jumbotron img{
    border-radius: 7px;
}
.jumbotron{
    margin-top: 100px;
}
.products{
    align-content: center;
    text-align: center;
    padding-top: 45px;
    /* width: 95%; */
}

#menu{
    padding-top: 50px;
}
h4{
    color: green;
}